.border{
  border: 2px solid #242441; /* Örnek olarak koyu gri bir border */
  padding: 15px; /* İçerik ile border arasında boşluk */
  padding-right: 20px;
  position: relative; /* h4 pozisyonlandırması için referans */
  background-color: #fff; /* Formun arka plan rengi */

  .title {
    position: absolute;
    top: -32px; /* h4'ü formun dışına taşı */
    left: 40%;
    transform: translateX(-50%); /* h4'ü tam ortaya al */
    background-color: #fff; /* h4'ün arka planını formun arka planıyla aynı yap */
    padding: 0 10px; /* Metnin etrafında boşluk */
  }


}


form {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;


  @media (max-width: 1000px) {
    margin-right: 20px;
    input{
      min-width: 200px;
      width: 100%;
    }



  }

}

label {
  margin-left: 10px;
  color: #F5831F;
  font-weight: bold;
  font-size: 14px;
}
input{

  margin-left:10px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6a6767;
  width: 100%;
}

.button-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;

}
button{
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 40%;
  background-color: #242441;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
  color: white;
}

