<div class="border">
<h4 class="title">Search Filter</h4>
<form [formGroup]="searchForm" (submit)="onSearch()">
  <div>
    <label for="idNumber">ID Number</label>
    <input type="text" id="idNumber" formControlName="nationalityId">
  </div>
  <div>
    <label for="customerId">Customer ID</label>
    <input type="text" id="customerId" formControlName="id">
  </div>
  <div>
    <label for="accountNumber">Account Number</label>
    <input type="text" id="accountNumber" formControlName="accountId">
  </div>
  <div>
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" formControlName="firstName">
  </div>
  <div>
    <label for="secondName">Middle Name</label>
    <input type="text" id="secondName" formControlName="middleName">
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" formControlName="lastName">
  </div>
  <div>
    <label for="orderNumber">Order Number</label>
    <input type="text" id="orderNumber" formControlName="orderId">
  </div>
  <div class="button-div">
    <button type="button" (click)="onClear()" [disabled]="isFormEmpty()">Clear</button>
    <button type="submit" [disabled]="isFormEmpty()">Search</button>
  </div>

</form>
</div>
