<div class="top">
    <div class="top-items">
      <ul class="list-group">
        <li
          [routerLink]="['info']"
          routerLinkActive="selected"
          class="top-item"
        >
          Customer Info
        </li>
        <li
          [routerLink]="['account']"
          routerLinkActive="selected"
          class="top-item"
        >
          Customer Account
        </li>
        <li
          [routerLink]="['address']"
          routerLinkActive="selected"
          class="top-item"
        >
          Address
        </li>
        <li
          [routerLink]="['contact-medium']"
          routerLinkActive="selected"
          class="top-item"
        >
          Contact Medium
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
