<div class="etiya-navbar">
  <div class="logo-div b2c" [routerLink]="['/search']" routerLinkActive="selected">
    <img src="assets/images/b2c-icon-white.png" alt="logo" />
    <span class="logo-text">B2C</span>
  </div>
  <div class="logo-div" routerLinkActive="selected">
    <img src="assets/images/b2b-icon-blue.png" alt="b2b-icon" />
    <span class="logo-text">B2B</span>
  </div>
  <div class="logo-div menu-icon" routerLinkActive="selected">
    <img src="assets/images/menu-icon.png" alt="menu-icon" />
  </div>
  <div class="logo-div right-hand-icon" routerLinkActive="selected">
    <img src="assets/images/right-hand-icon.png" alt="right-hand-icon" />
  </div>
  <div class="logo-div" [routerLink]="['/login']" routerLinkActive="selected">
    <img src="assets/images/logout-icon.png" alt="logout-icon" />
  </div>
</div>
