.etiya-navbar{
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;


  @media (max-width: 1000px) {
    flex-direction: row;
    margin-top: -20px;


    .logo-div{
      margin-right: 5px;
      height: 75px;
      width: 20%;
    }

  }

}

.logo-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
  background-color: #F5831F;
  width: 75px;
  height: 100px;
}

.logo-text{
  font-size: 20px;
  font-weight: bold;
}

.b2c{
  background-color: #242441;
  color: white;
}
