<form class="form" [formGroup]="form" (submit)="onFormSubmit()">
  <h4 class="title">Add Address</h4>
    <div class="etiya-add-address">
      <div class="left-side">
        <div class="inputs">
          <label>City*</label>
          <select class="form-select" formControlName="cityId">
            <option value="" disabled selected>Select City</option>
            <option *ngFor="let item of cities" [value]="item.id">{{ item.name }}</option>
          </select>
          <div *ngIf="form.controls['cityId'].invalid && (form.controls['cityId'].dirty || form.controls['cityId'].touched)">
            <div class="error-message" *ngIf="form.controls['cityId'].errors?.['required']">
              City is required.
            </div>
          </div>
        </div>

        <div class="inputs">
          <label>House / Flat Number*</label>
          <input type="text" formControlName="houseNumber"/>
          <div  *ngIf="form.controls['houseNumber'].invalid && (form.controls['houseNumber'].dirty || form.controls['houseNumber'].touched)"
          >
            <div class="error-message" *ngIf="form.controls['houseNumber'].errors?.['required']">
              House / Flat Number is required.
            </div>
          </div>
        </div>
        <div class="inputs">
          <label>Address Description*</label>
          <input type="text" formControlName="description" />
          <div  *ngIf="form.controls['description'].invalid && (form.controls['description'].dirty || form.controls['description'].touched)"
          >
            <div class="error-message" *ngIf="form.controls['description'].errors?.['required']">
              Address Description is required.
            </div>
          </div>
        </div>
      </div>

      <div class="right-side">
        <div class="inputs">
          <label>Street*</label>
          <input type="text" formControlName="street" />
          <div  *ngIf="form.controls['street'].invalid && (form.controls['street'].dirty || form.controls['street'].touched)"
          >
            <div class="error-message" *ngIf="form.controls['street'].errors?.['required']">
              Street is required.
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" (click)="close()" class="cancel-button">Cancel</button>
    <button type="submit" class="save-button">Save</button>

  </form>

