.customer-info {
  margin-left: 3rem;
  margin-top: 3rem;
}

.customer-info-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-weight: bolder;
  border-bottom: solid 1px black;
}

.customer-info-header .right-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  float: right;
}

.customer-info-header .left-side {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.customer-info-header button {
  font-size: medium;
  font-weight: bolder;
  cursor: pointer;
}

.update-icon {
  cursor: pointer;
  margin-left: 0.6rem; /* Adjust spacing between header text and image */
}

.customer-info-items {
  display: flex;
  height: 75%;
  width: 100%;
  justify-content: space-around;
}

.customer-info-left,
.customer-info-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.customer-info-item {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  width: 50%;
}

.customer-info-item label {
  width: 50%;
  font-weight: bold;
}

.customer-info-item .info-value {
  width: 50%;
  font-weight: bold;
}


