<div class="customer-info" *ngIf="customer$ | async as customer">
  <div class="customer-info-header">
    <h2 class="left-side">
      Customer Info
      <img class="update-icon"  src="../../../../../assets/images/pen.png" />
    </h2>
    <div class="right-side">
      <button>Delete Customer</button>
    </div>
  </div>

  <div class="customer-info-items">
    <div class="customer-info-left">
      <div class="customer-info-item">
        <label>First Name:</label>
        <span class="info-value">{{ customer.firstName }}</span>
      </div>
      <div class="customer-info-item">
        <label>Second Name:</label>
        <span class="info-value">{{ customer.middleName }}</span>
      </div>
      <div class="customer-info-item">
        <label>Last Name:</label>
        <span class="info-value">{{ customer.lastName }}</span>
      </div>
      <div class="customer-info-item">
        <label>Gender:</label>
        <span class="info-value">{{ customer.gender }}</span>
      </div>
    </div>

    <div class="customer-info-right">
      <div class="customer-info-item">
        <label>Mother Name:</label>
        <span class="info-value">{{ customer.motherName }}</span>
      </div>
      <div class="customer-info-item">
        <label>Father Name:</label>
        <span class="info-value">{{ customer.fatherName }}</span>
      </div>
      <div class="customer-info-item">
        <label>Birth Date:</label>
        <span class="info-value">{{ customer.birthDate }}</span>
      </div>
      <div class="customer-info-item">
        <label>Nationality ID:</label>
        <span class="info-value">{{ customer.nationalityId }}</span>
      </div>
    </div>
  </div>
</div>
