<div class="customer-info">
    <div class="customer-info-header">
        <h2 class="left-side">
            Customer Info
            <img class="update-icon" [routerLink]="['update']" src="../../../../../assets/images/pen.png" />    
        </h2>
        <div class="right-side">
            <button>Delete Customer</button>
        </div>
    </div>  
    
    <div class="customer-info-items">
      <div class="customer-info-left">
        <div class="customer-info-item">
          <label>First Name:</label>
          <!--<span class="info-value">{{customerDemographicInfo?.firstName}}</span>-->
        </div>
        <div class="customer-info-item">
          <label>Middle Name:</label>
           <!--<span class="info-value">{{customerDemographicInfo?.middleName}}</span>-->
        </div>
        <div class="customer-info-item">
          <label>Last Name:</label>
           <!--<span class="info-value">{{customerDemographicInfo?.lastName}}</span>-->
        </div>
        <div class="customer-info-item">
          <label>Gender:</label>
           <!--<span class="info-value">{{customerDemographicInfo?.gender}}</span>-->
        </div>
      </div>

      <div class="customer-info-right">
        <div class="customer-info-item">
          <label>Mother Name:</label>
           <!--<span class="info-value">{{customerDemographicInfo?.motherName}}</span>-->
        </div>
        <div class="customer-info-item">
          <label>Father Name:</label>
           <!--<span class="info-value">{{customerDemographicInfo?.fatherName}}</span>-->
        </div>
        <div class="customer-info-item">
          <label>Birth Date:</label>
           <!--<span class="info-value">{{customerDemographicInfo?.birthDate}}</span>-->
        </div>
        <div class="customer-info-item">
          <label>Nationality ID:</label>
           <!--<span class="info-value">{{customerDemographicInfo?.nationalityId}}</span>-->
        </div>
      </div>
      
    </div>
</div>